<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://unpkg.com/papercss@1.1.0/dist/paper.min.css">
  <title>Translate manager</title>
</head>
<body>
  <div class="paper container">
    <h1>Translate manager</h1>
    <p>Go admin!</p>
    <a href="admin" class="paper-btn">Admin</a>
    <a href="webapi" class="paper-btn">webapi</a>
    <h2>Windows client</h2>
    <p>Download fresh <a href="https://bitbucket.org/yncoder/naiveshark/downloads/"><code>TMDesktop_0_6.zip</code></a>, unzip and run</p>
    <h2>History</h2>
    <p>2018-01-10 (v0.7) - Parse and edit the translate table for MS Word (.doc and .docx) files.</p>
    <p>2018-01-07 (v0.6) - Upload doc to project (client), new fields in project creation dialog - status and languages. Local database for client offline mode.</p>
    <p>2017-12-13 (v0.5) - Upload doc to project (web), download from win client.</p>
    <p>2017-12-07 (v0.4) - Go to project from notification (windows client).</p>
    <p>2017-12-05 (v0.3) - Add user to project from available list (Windows client).</p>
    <p>2017-12-05 (v0.2) - Fixed error with project creation (from window client). Show list of assigned and available users in project.</p>
    <p>2017-12-03 (v0.1) - simle project assigns in admin web panel. Client show the assigned in project list and project card.</p>
    <p>2017-12-01 (v0.0) - first basic version</p>
    <h2>Project list</h2>

<table>
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>State</th>
      <th>Created</th>
      <th>Modified</th>
    </tr>
  </thead>
  <tbody>
    {% for p in projects %}
    <tr>
    <td>{{p.id}}</td>
    <td>{{p}}</td>
    <td>{{p.state_caption}}</td>
    <td>{{p.created_at}}</td>
    <td>{{p.modified_at}}</td>
    </tr>
    {%endfor%}
  </tbody>
</table>

  </div>
</body>
</html>